* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/backcover.svg');
    background-repeat: no-repeat;
    background-position: top 0 right -69px;
    background-size: contain;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    font-family: 'Roboto';
}
div.toggle-button{
    position: absolute;
    top: 2.2rem;
    right: 10%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
}

.toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: #746181;
    border-radius: 10px;
}
.nav-items {
    display: flex;
    gap: 50px;
    color: #232C75;
}

div.intro-section {
    display: flex;
}

div.left-section {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    font-family: 'Roboto';
}

.left-section h4 {
    padding-right: 150px;
    align-self: flex-start;
    line-height: 30px;
    font-weight: 100;
    color: #6C6F8F;
    font-size: 16px;
}

.left-section h1 {
    color: #232C75;
    font-size: 50px;
}

.imgs-div>img:first-child {
    position: absolute;
    bottom: 8px;
    left: 725px;
}

.imgs-div>img:nth-child(2) {
    position: absolute;
    bottom: 92px;
    left: 780px;
}

.signin-btn{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgba(150,92,242,1) 40%, rgba(255,138,220,1) 100%);
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.learn-more-btn{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgba(150,92,242,1) 40%, rgba(255,138,220,1) 100%);
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
}
@media(max-width:1250px)
{

    .imgs-div>img:first-child {
        position: absolute;
        bottom: 8px;
        left: 570px;
    }
    .imgs-div>img:nth-child(2) {
        position: absolute;
        bottom: 92px;
        left: 625px;
    }
    div.intro-section{
        flex-direction: column;
    }

    .intro-img{
        object-fit: cover;
        width: 700px;
    }

    div.imgs-div{
        margin-left: 100px;
    }
}
@media(max-width:950px)
{
    body{
        background: none;
    }
    .nav-items{
        display: none;
    }
     div.toggle-button{
        display: flex;
    } 

    button.signin-btn{
        display: none;
    }

    .intro-img{
        object-fit: cover;
        width: 400px;
    }

    div.left-section h4{
        padding: 0;
    }
    div.imgs-div{
        margin-left: 50px;
    }
    
    .imgs-div>img:first-child {
        position: absolute;
        bottom: 8px;
        left: 400px;
    }
    .imgs-div>img:nth-child(2) {
        position: absolute;
        bottom: 92px;
        left: 450px;
    }
}

@media(max-width:500px)
{

    nav{
        padding: 20px;
        align-items: center;
        gap: 20px;
    }
    .intro-img{
        object-fit: cover;
        width: 300px;
    }

    .imgs-div>img:first-child {
        position: absolute;
        display: none;
        bottom: 8px;
        left: 400px;
    }
    .imgs-div>img:nth-child(2) {
        display: none;
        position: absolute;
        bottom: 92px;
        left: 450px;
    }
}
